<h2 if="create">Criação de um novo artigo</h2>
<h2 if="!create">Edição do artigo</h2>
<div>
    <div>
        <span class="label" style="width: 100px;">Titulo</span>
        <input type="text" ng-model="article.title"/>
    </div>
    <div>
        <span class="label" style="width: 100px;">Conteúdo</span>
        <textarea ng-model="article.body"></textarea>
    </div>
    <div>
        <span class="label" style="width: 100px;">Resumo</span>
        <input type="text" ng-model="article.summary"/>
    </div>

    <div ng-if="!create">
        <input type="file" file-model="file"/>
    </div>

    <button ng-click="save()">{{buttonLabel()}}</button>
</div>
