.galeria .albumGaleria, .galeria .fotoGaleria {
    color: black;
    display: table-cell; text-align: center;width: 110px; height: 110px;
}
.galeria .albumGaleria:hover,.galeria .fotoGaleria:hover{
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    cursor: pointer;
}
.galeria .txt_icon_galeria{
    display: block;
}

.galeria .setaEsconder{
    cursor: pointer;
}

.galeria span.icons{
    font-family: icons;
    font-style: 14px;

}

.galeria .aIcons{
    cursor:pointer;
    margin-left: 2em;
    font-size: 1.5em;
}

.galeria .esconder{
    margin-top: 20px;
}

.galeria .selecionado .txt_icon_galeria{
    font-weight: bolder;
    text-decoration: underline;
}

@font-face
{
font-family: icons;
src: url('/style/extensoes/galeria/fonts/fontello.ttf')
    ,url('/style/extensoes/galeria/fonts/fontello.eot')/* IE9 */
    ,url('/style/extensoes/galeria/fonts/fontello.woff');
}
